name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: echo Hello, world!

      - name: Test Action-Solution
        uses: poojapatidar21/Test-Action-Solution@test-release-2


        with: 
            ConnectedServiceName: "release-test"
            Intent: "PackageDistribution"
            ContentType: "Maven"
            PackageLocation: "src/pacman-app-1.1"
            Owners: "xyz@microsoft.com"
            Approvers: "abc@microsoft.com"
            ServiceEndpointUrl: "https://api.esrp.microsoft.com"
            MainPublisher: "ESRPRELTEST"
            DomainTenantId: "72f988bf-86f1-41af-91ab-2d7cd011db47"
            ContentOrigin: "azeus"
            ProductState: "new"
            Audience: "Workflow.A_S_AV_PackageManager"


            