name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: echo Hello, world!

      - name: Test Action-Solution
        uses: poojapatidar21/Test-Action-Solution@Test-V6
        with: 
            ConnectedServiceName: "72f988bf-86f1-41af-91ab-2d7cd011db47"
            